html, body {
	height: 100%;
	min-height: 100%;
}

#main {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
}

#main .page {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}

#main .page header {
	position: absolute;
	top: 0px;
	left: 0px;
	right:	0px;
	height: 50px;
}

#main .content {
	max-width: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#home #best {
	font-size: 40px;
	margin-top: -100px;
	margin-bottom: 20px;
}

#game {
	background-color: #dddddd;
	-webkit-transition: top 0.5s ease;
	z-index: 2;
}

#game.hide {
	top: 100%;
	display: table !important;
}

#game #countdown {
	font-size: 320px;
	font-weight: bold;
}

#game #countdown.hide {
	display: none;
}

#game #congrats {
	display: none;
	font-size: 34px;
	color: #c71d1d;
}

#game[data-status=ended].best #congrats {
	display: inline-block;
	-webkit-animation: blink 1s infinite;
}

#game #timer {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	color: black;
	line-height: 48px;
	font-size: 48px;
	font-weight: bold;
}

#game[data-status=started] #timer {
	display: inline-block;
}

#game #score {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	color: black;
	line-height: 32px;
	font-size: 32px;
	text-align: left;
}

#game #score .best {
	line-height: 26px;
	font-size: 26px;
}

#game[data-status=started] #score {
	display: inline-block;
}

#game[data-status=ended] #score {
	display: inline-block;
	top: 50%;
	width: 100%;
	margin-top: -40px;
	font-size: 100px;
	text-align: center;
	-webkit-transition: all 1s ease;
}

#game[data-status=ended] #score .best {
	display: none;
}

#game #slider {
	display: none;
	position: relative;
	margin-left: 30px;
	margin-right: 30px;
	height: 500px;
	-webkit-transition: opacity 1s ease;
}

#game[data-status=started] #slider {
	display: block;
}

#game[data-status=ended] #slider {
	display: block;
	opacity: 0.2;
}

#game #slider .slide {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-transition: left 0.3s ease;
	z-index: 2;
}

#game #slider .slide.next {
	left: -100%;
	z-index: 1;
}

#game #slider .slide.previous {
	left: 100%;
	z-index: 1;
}

#game #slider .slide img {
	height: 500px;
}

#game.ok #slider .slide:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: transparent url(../img/check.png) center center no-repeat;
}
#game.ko #slider .slide:after {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: transparent url(../img/wrong.png) center center no-repeat;
}

#game.ok.ko #slider .slide:before {
	left: -128px;
}

#game.ok.ko #slider .slide:after {
	left: 128px;
}

.spread {
	-webkit-animation: spread 1s infinite;
}

.spread-one {
	-webkit-animation: spread 1s;
}

@-webkit-keyframes spread {
	0% {
		-webkit-transform: scale(0.2);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@-webkit-keyframes blink {
	0% {
		-webkit-transform: scale(1);
		opacity: 1;
	}

	50% {
		-webkit-transform: scale(0.95);
		opacity: 0.5;
	}

	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
